$body-bg: rgb(158, 30, 30);

@import '~bootstrap/scss/bootstrap.scss';

.container, .h-100, .modal-content {
    background-color: rgb(228, 193, 98);
}

.submit {
    margin-top: 20px;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 150px;
}